<section class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="bodycontent">
                <h1>Terms of Use “Toq”</h1>
                <p>Welcome to Toq, this document tells you the terms of usage of our platform (apps and website).
                    If for any purpose the agreement has words like “you”, or “user”, it will refer to the users who
                    have agreed to our terms and conditions for using the platform. Whenever you utilize any of our
                    products or services provided on the Platform, you are subjected to follow the rules, guidelines,
                    policies, terms applicable to those services. </p>

                <h2>Account and registration commitments</h2>
                <p>If you use our app, you will be accountable for maintaining the privacy of your Username and Password
                    and you will be accountable for all the activities occurring under your name. You share your
                    agreement that if the any of the information you provide is inaccurate, not up to date or
                    incomplete, we have rights to believe that such information is inaccurate, not recent or incomplete,
                    or not in harmony with this Terms of Use. We shall then hold the entitlement to ad infinitum
                    suspension or termination or restrict accessing your membership on the Platform and repudiate to
                    give you with access to the Platform.</p>
                <p>We request you to consider before you upload, submit, or insert subject matter. This contract allows
                    you to upload, submit, or insert on the “Toq”, content that you hold the copyright to or
                    otherwise have the right to advertise. It is your responsibility to make sure that you have proper
                    rights to publish to the Toq services and Toq takes no legal responsibility of the
                    same whatever.</p>

                <h2>Content published on our platform </h2>
                <p>Whatever the content we have used on our platform, whether it is any text, graphics, images, videos,
                    infographics, trademarks, or any logos are all either the third party content or owned by us. Please
                    ensure none of the content mentioned on our platforms are reproduced, duplicate, or republish
                    anywhere else. And if you do so, Toq will have the right to claim the content. You will be
                    accountable for any messages, mails, reviews, ratings, postings, images, profiles, ideas, videos,
                    audio files, or other information published to the Platform. Such Content will become our property
                    and you provide us the uninterrupted and conveyable rights for any such Content</p>

                <h2>Return Policy</h2>
                <ul>
                    <li>It is allowed if the item delivered was defective.</li>
                    <li>Return permissible if you have received damaged order.</li>
                    <li>You can apply for return if anything is missing.</li>
                    <li>Used product will not be exchanged or refund.</li>
                     <li>Time period of Exchange/Refund will be for 3 days only.</li>
                    <li>You can apply for product return or replacement if wrong items were delivered to you.</li>
                </ul>
                <h4 >Return might sometimes result as refund of money and order will be sent
                    back to the vendor.</h4><br>

                <!-- <h2>Important points</h2> -->
                <!-- <ol>
                    <li>Seller will always share consent to the product return regardless of the policies.</li>
                    <li>If a Seller opposes a return request, Buyer is allowed to file a dispute.</li>
                </ol>
                <p>We support the Buyer to check the listing before finalising the shopping decision. If a Buyer shop a
                    wrong item, Buyer shall not be allowed to get any return or refund. Buyer is required to raise a
                    return request under the return period valid to any particular product. Once a return request has
                    been raised, Seller can select one of the following to close the request ticket:</p>

                <ul>
                    <li>Replace by collecting the shipment</li>
                    <li>Refund on collecting the shipment </li>
                    <li>Refund without shipment collection</li>
                    <li>Replace without taking previous shipment</li>
                </ul>

                <p>
                    <b>If a Seller acknowledges the return request created by the Buyer, Buyer will have to process the
                        return and then the refund needs to be accredited back to the Buyers account.
                    </b>
                </p> -->
                <!-- <ol>
                    <li>Seller will always share consent to the product return regardless of the policies.</li>
                    <li>If a Seller opposes a return request, Buyer is allowed to file a dispute.</li>
                </ol>
                <h5><b>If a Seller acknowledges the return request created by the Buyer, Buyer will have to process the
                    return and then the refund needs to be credited back to the Buyers account.</b></h5> -->
            </div>
        </div>
    </div>
</section>