<section class="slider_section slider_s_three" *ngIf="banners.length">
    <owl-carousel-o [options]="bannerCarouselOption" class="slider_area">
        <ng-container *ngFor="let homeBanners of banners">
            <ng-template carouselSlide [id]="homeBanners._id">
                <div class="single_slider d-flex align-items-center">
                    
                    <video *ngIf="homeBanners?.mediaType ==  'Video' " style="width: 1440px; " loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="d-block w-100 sliderBanDesk">
                        <source src="{{homeBanners?.bannerImg}}" type="video/mp4">
                    </video>
                    <video *ngIf="homeBanners?.mediaType ==  'Video' " style="width: 800px; " loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="d-block w-100 sliderBanMobile">
                        <source src="{{homeBanners?.bannerMobileImg}}" type="video/mp4">
                    </video>
                    <img *ngIf="(homeBanners?.mediaType ==  'Image' || homeBanners?.mediaType ==  'Gif')" src="{{homeBanners?.bannerImg}}" class="d-block w-100 sliderBanDesk">
                    <img *ngIf="(homeBanners?.mediaType ==  'Image' || homeBanners?.mediaType ==  'Gif')" src="{{homeBanners?.bannerMobileImg}}" class="d-block w-100 sliderBanMobile">
                </div>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</section>

<div class="shop_area shop_reverse mt-45 mb-50">
    <!-- <div class="home_product_three mb-50 categSlider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <section class="center slider row">
                        <div>
                          <img src="http://placehold.it/350x300?text=1">
                        </div>
                        <div>
                          <img src="http://placehold.it/350x300?text=2">
                        </div>
                        <div>
                          <img src="http://placehold.it/350x300?text=3">
                        </div>
                        <div>
                          <img src="http://placehold.it/350x300?text=4">
                        </div>
                        <div>
                          <img src="http://placehold.it/350x300?text=5">
                        </div>
                        <div>
                          <img src="http://placehold.it/350x300?text=6">
                        </div>
                        <div>
                          <img src="http://placehold.it/350x300?text=7">
                        </div>
                        <div>
                          <img src="http://placehold.it/350x300?text=8">
                        </div>
                        <div>
                          <img src="http://placehold.it/350x300?text=9">
                        </div>
                      </section>
                </div>
            </div>
        </div>
    </div>
   -->
   <!--home product four start-->
<div class="home_product_three mb-50 categSlider">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="small_product_list">
                    <div class="section_title">
                        <h2>Categories</h2>
                    </div>
                    <!-- <div class="row"> -->
                         
                    <owl-carousel-o [options]="categoryCarouselOption"
                        class="product_carousel small_p_container  product_column321">
                        <ng-container *ngFor="let category of categories">
                            <ng-template carouselSlide [id]="category._id">
                                <div class="product_items">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb" >
                                                
                                                <a class="primary_img" (click)="redirectToProductPage(category.categorySlug)" ><img
                                                        src="{{category?.categoryImg}}" alt="">
                                                       
                                                </a>
                                                <div class="product_name" style="margin-bottom: 10px;" >
                                                    <h4>
                                                        <a  (click)="redirectToProductPage(category.categorySlug)" >
                                                            {{category?.categoryName}}
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div class="quick_button">
                                                    <a (click)="redirectToProductPage(category.categorySlug)" data-toggle="modal"
                                                        data-target="#modal_box" title="quick view"> View Products</a>
                                                </div>
                                            </div>
                                            
                                        </figure>
                                    </article>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>
<!--home product four end-->

<!--product area start-->
<div class="product_area product_style2 mb-10">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_header">
                    <div class="section_title">
                        <h2>Special offer products</h2>
                        <a (click)="redirectToPages('Special')" >View All</a>
                    </div>
                </div>
            </div>
        </div>
        <owl-carousel-o [options]="productCarouseloption2" class="product_carousel product_style prodSlider">
            <ng-container *ngFor="let product of salesProducts">
                <ng-template carouselSlide [id]="product.productId">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb" style="margin-bottom: 0;">
                                <a class="primary_img" [routerLink]="['/product-details',product.variantSlug]" >
                                    <div class="itemimgdiv">
                                        <img src="{{product?.variantImg[0]}}" alt="" class="itemsimg">
                                        <span class="saleBtn">Sale</span> 
                                    </div>
                                </a>
                            </div>
                            <div class="product_name">
                                <h4><a
                                        [routerLink]="['/product-details',product.variantSlug]" >{{product?.productName}}</a>
                                </h4>
                            </div>
                            <div class="price_box" style="padding-left: 5px;">
                                <span class="current_price">₹{{product?.offerPrice}}</span>&nbsp;
                                <span class="old_price">₹{{product?.price}}</span>
                                <span  style="font-size: 14px;" >{{getDiscount(product?.offerPrice,product?.price)}}% Off </span> 
                            </div>
                        </figure>
                    </article>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>
<div class="product_area product_style2 mb-10">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="product_header">
                    <div class="section_title">
                        <h2>Best Selling Products</h2>
                        <a (click)="redirectToPages('Selling')"  >View All</a>
                    </div>
                </div>
            </div>
        </div>
        <owl-carousel-o [options]="productCarouseloption2" class="product_carousel product_style prodSlider">
            <ng-container *ngFor="let product of products">
                <ng-template carouselSlide [id]="product.productId">
                    <article class="single_product">
                        <figure>
                            <div class="product_thumb" style="margin-bottom: 0;">
                                <a class="primary_img" [routerLink]="['/product-details',product.variantSlug]" >
                                    <div class="itemimgdiv">
                                        <img src="{{product?.variantImg[0]}}" alt="" class="itemsimg">
                                    </div>
                                </a>
                            </div>
                            <div class="product_name">
                                <h4><a
                                        [routerLink]="['/product-details',product.variantSlug]" >{{product?.productName}}</a>
                                </h4>
                            </div>
                            <div class="price_box" style="padding-left: 5px;">
                                <span class="current_price">₹{{product?.offerPrice}}</span>&nbsp;
                                <span class="old_price">₹{{product?.price}}</span>
                                <span  style="font-size: 14px;" >{{getDiscount(product?.offerPrice,product?.price)}}% Off </span>
                            </div>
                        </figure>
                    </article>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
</div>
<!--product area end-->
<!--product area start-->
<div class="product_area product_bg mb-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product_three_left">
                    <div class="section_title">
                        <h2>New Arrivals</h2>
                        <a (click)="redirectToPages('New')"  >View All</a>
                    </div>
                    <owl-carousel-o [options]="productCarouselOption" class="product_carousel prodSlider" data-interval="false">
                        <ng-container *ngFor="let product of latestProducts">
                            <ng-template carouselSlide [id]="product.productId">
                                <article class="single_product">
                                    <figure>
                                        <div class="product_thumb" style="margin-bottom: 0;">
                                            <a class="primary_img" [routerLink]="['/product-details',product.variantSlug]" >
                                                <div class="itemimgdiv">
                                                    <img src="{{product?.variantImg[0]}}" alt="" class="itemsimg">
                                                </div>
                                            </a>
                                        </div>
                                        <div class="product_name">
                                            <h4><a
                                                    [routerLink]="['/product-details',product.variantSlug]" >{{product?.productName}}</a>
                                            </h4>
                                        </div>
                                        <div class="price_box" style="padding-left: 5px;">
                                            <span class="current_price">₹{{product?.offerPrice}}</span>&nbsp;
                                            <span class="old_price">₹{{product?.price}}</span>
                                            <span  style="font-size: 14px;" >{{getDiscount(product?.offerPrice,product?.price)}}% Off </span> 
                                        </div>
                                    </figure>
                                </article>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
       
    </div>
</div>
<!--product area end-->
<div class="product_area product_bg mb-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product_three_left">
                    <div class="section_title" >
                        <div innerHtml="{{currentContent?.description}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>
<!--SOCIAL-->
<div class="product_area product_bg mb-45 socialMedia" *ngIf="brandAmbass.length != 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Follow us on Social Media</h3>
                <div class="grid">
                    <div class="grid__item grid__item--lg " *ngIf="brandAmbass.length > 0">
                        <a target=”_blank”  href="{{brandAmbass?.[0].instaLink}}" >    <img alt="" src="{{brandAmbass?.[0].ambassadorImg}}"></a>
                    </div>
                    <div class="grid__item grid__item--sm" *ngIf="brandAmbass.length > 1">  <a target=”_blank”  href="{{brandAmbass?.[0].instaLink}}" >  <img alt="" src="{{brandAmbass?.[1].ambassadorImg}}"></a></div>
                    <div class="grid__item grid__item--sm" *ngIf="brandAmbass.length > 2"> <a target=”_blank”  href="{{brandAmbass?.[0].instaLink}}" >  <img alt="" src="{{brandAmbass?.[2].ambassadorImg}}"></a></div>
                    <div class="grid__item grid__item--sm" *ngIf="brandAmbass.length > 3">  <a target=”_blank”  href="{{brandAmbass?.[0].instaLink}}" >  <img alt="" src="{{brandAmbass?.[3].ambassadorImg}}"></a></div>
                    <div class="grid__item grid__item--sm" *ngIf="brandAmbass.length > 4">  <a target=”_blank”  href="{{brandAmbass?.[0].instaLink}}" >  <img alt="" src="{{brandAmbass?.[4].ambassadorImg}}"></a></div>
                    
                    <div class="grid__item grid__item--lg grid__item--right" *ngIf="brandAmbass.length > 5">
                        <a target=”_blank”  href="{{brandAmbass?.[0].instaLink}}" >    <img alt="" src="{{brandAmbass?.[5].ambassadorImg}}"></a>
                    </div>
                    <div class="grid__item grid__item--sm" *ngIf="brandAmbass.length > 6">  <a target=”_blank”  href="{{brandAmbass?.[0].instaLink}}" >  <img alt="" src="{{brandAmbass?.[6].ambassadorImg}}"></a></div>
                    <div class="grid__item grid__item--sm" *ngIf="brandAmbass.length > 7">  <a target=”_blank”  href="{{brandAmbass?.[0].instaLink}}" >  <img alt="" src="{{brandAmbass?.[7].ambassadorImg}}"></a></div>
                    <div class="grid__item grid__item--sm" *ngIf="brandAmbass.length > 8"> <a target=”_blank”  href="{{brandAmbass?.[0].instaLink}}" >  <img alt="" src="{{brandAmbass?.[8].ambassadorImg}}"></a></div>
                    <div class="grid__item grid__item--sm" *ngIf="brandAmbass.length > 9"> <a target=”_blank”  href="{{brandAmbass?.[0].instaLink}}" >  <img alt="" src="{{brandAmbass?.[9].ambassadorImg}}"></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END SOCIAL-->

</div>