
<!-- Preloader -->
<!-- <div class="preloader">
    <div class="preloader-inner">
      <div class="single-loader one"></div>
    </div>
</div> -->
<!-- End Preloader -->  
<!-- Start Header -->
<!--
<div class="mobile-menu" *ngIf="visible">
    <button class="mobile-arrow closeBtn" (click)="onClick()"><i class="fa fa-close"></i></button>
    <ul class="nav menu">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink=''>Home</a></li>
        <li routerLinkActive="active"><a href="javascript: void(0);" (click)="onClickCall('about')">About Us</a></li>
        <li routerLinkActive="active"><a  href="javascript: void(0);" (click)="onClickCall('services')" >Services</a></li>	
        <li routerLinkActive="active"><a href="javascript: void(0);" (click)="onClickCall('portfolio')" >Our Work</a></li>
        <li routerLinkActive="active"><a href="javascript: void(0);" (click)="onClickCall('blog')" >Blog</a></li>
        <li routerLinkActive="active"><a href="javascript: void(0);" (click)="onClickCall('contact')" >Get In Touch</a></li>
        <li routerLinkActive="active"><a href="javascript: void(0);" (click)="onClickCall('career')" >Work With Us</a></li>
        <li routerLinkActive="active"><a href="javascript: void(0);" (click)="onClickCall('ourteams')" >Our Teams</a></li>
        <li routerLinkActive="active"><a href="javascript: void(0);" (click)="onClickCall('web-story')" >Web Story</a></li>
    </ul>
</div>
-->
<header id="header" class="header">
    <!-- Topbar -->

    <!--/ End Topbar -->
    <!-- Middle Bar -->
    <div class="middle-bar">
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-12">
                   
                        <!-- Logo -->
                    <div class="logo">
                        <a [routerLink]="['/']" routerLinkActive="router-link-active"><img src="assets/img/new_logo.png" alt="logo"></a>							
                    </div>
                   
                    <!--/ End Logo -->
                     <!-- Brand and toggle get grouped for better mobile display -->
                     <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                  <span class="toggle-menu "><button _ngcontent-mml-c67="" class="mobile-arrow"><i _ngcontent-mml-c67="" class="fa fa-bars"></i></button></span>
                        </button>
                      <!--  <a class="navbar-brand" href="#">Home</a> -->
                      </div>

                      <!-- Main Menu -->
                    <nav class="navbar" role="navigation">

                       
                    
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="menubg"></div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-1">
                          <ul class="nav navbar-nav">
                            <li *ngFor="let groups of groupsData" class="dropdown mega-dropdown dropdown"><a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">{{groups?.groupName}} <span class="caret"></span> </a>
                    
                                <!--  mega menu -->		
                                <ul class="dropdown-menu mega-dropdown-menu row" *ngFor="let childgroups of groups?.category">
                                    <li class="col-sm-3">
                                        <a class="title-submenu dropdown-toggle" href="javascript:;"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{childgroups?.categoryName}}<span class="caret"></span> </a> 
                                        <ul class="subdrop3 dropdown-menu dropdown-menu-right"*ngFor="let innerchildgroups of childgroups?.subcategory">
                                            <li> <a href="#">{{innerchildgroups?.subCategoryName}}</a></li>
                                        </ul>
                                    </li>
                                   
                                </ul>
                                <!--  mega menu // -->

                        </li>
                          </ul>
           
                            
                         </div><!-- /.navbar-collapse -->
                    </nav>


                  
                    <!--/ End Main Menu -->
                    
                </div>
                

                <!--HEADER RIGHT-->
                <div class="col-lg-6 col-12 mobicons">
                    <div class="hdRight">
                        <div class="hdsearch">
                            <div class="hdsearchicon"><svg class="searchIcon" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg></div>
                            <div class="hdsearchfild"><input placeholder="Search for products, brands and more" type="text" value="" [(ngModel)]="searchKey" name="search"
                                (keydown.enter)="onKeydown($event)"></div>
                        </div>
                        <div class="iconsbox">
                           <ul>
                                <!--<li>
                                    <div class="hdprofile searchbtn">
                                        <svg _ngcontent-ixo-c67="" focusable="false" viewBox="0 0 24 24" aria-hidden="true" class="hdicons searchIcon"><path _ngcontent-ixo-c67="" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path></svg>
                                    </div>
                                </li>-->
                                <li>
                                    
                                    <div class="hdprofile profilebtn"  *ngIf="!isLoggedIn" >
                                        <a [routerLink]="['/userprofile/login/']"
                                        routerLinkActive="router-link-active">  <svg class="hdicons" focusable="false" viewBox="0 0 24 24" color="#5d5b5b" aria-hidden="true"><path d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"></path></svg>
                                        <span>login</span></a>
                                    </div>
                                    <div class="hdprofile profilebtn"  *ngIf="isLoggedIn" >
                                        <a [routerLink]="['/userprofile/account/']"
                                        routerLinkActive="router-link-active">  <svg class="hdicons" focusable="false" viewBox="0 0 24 24" color="#5d5b5b" aria-hidden="true"><path d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1S9.9 9.16 9.9 8s.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1H5.9V17c0-.64 3.13-2.1 6.1-2.1M12 4C9.79 4 8 5.79 8 8s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"></path></svg>
                                        <span>login</span></a>
                                    </div>
                                    
                                </li>
                                <li>
                                    <div class="hdprofile" *ngIf="!isLoggedIn">
                                        <a [routerLink]="['/userprofile/login/']"
                                        routerLinkActive="router-link-active"><svg class="hdicons" focusable="false" viewBox="0 0 24 24" color="#5d5b5b" aria-hidden="true"><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg>
                                            <span>wishlist</span></a>
                                    </div>
                                    <div class="hdprofile" *ngIf="isLoggedIn">
                                        <a  [routerLink]="['/profile/wishlist']"
                                        routerLinkActive="router-link-active"><svg class="hdicons" focusable="false" viewBox="0 0 24 24" color="#5d5b5b" aria-hidden="true"><path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"></path></svg>
                                            <span>wishlist</span></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="hdprofile profilebtn" *ngIf="!isLoggedIn">
                                        <span class="cartbadge">0</span>
                                        <a [routerLink]="['/userprofile/login/']"
                                        routerLinkActive="router-link-active">
                                            <svg class="hdicons" focusable="false" viewBox="0 0 24 24" color="#5d5b5b" aria-hidden="true"><path d="M19 6h-2c0-2.76-2.24-5-5-5S7 3.24 7 6H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-7-3c1.66 0 3 1.34 3 3H9c0-1.66 1.34-3 3-3zm7 17H5V8h14v12zm-7-8c-1.66 0-3-1.34-3-3H7c0 2.76 2.24 5 5 5s5-2.24 5-5h-2c0 1.66-1.34 3-3 3z"></path></svg>
                                            <span>bag</span>
                                        </a>
                                    </div>
                                    <div class="hdprofile profilebtn" *ngIf="isLoggedIn">
                                        <span class="cartbadge">0</span>
                                        <a [routerLink]="['/userprofile/cart']"
                                        routerLinkActive="router-link-active">
                                            <svg class="hdicons" focusable="false" viewBox="0 0 24 24" color="#5d5b5b" aria-hidden="true"><path d="M19 6h-2c0-2.76-2.24-5-5-5S7 3.24 7 6H5c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-7-3c1.66 0 3 1.34 3 3H9c0-1.66 1.34-3 3-3zm7 17H5V8h14v12zm-7-8c-1.66 0-3-1.34-3-3H7c0 2.76 2.24 5 5 5s5-2.24 5-5h-2c0 1.66-1.34 3-3 3z"></path></svg>
                                            <span>bag</span>
                                        </a>
                                    </div>
                                </li>
                           </ul> 
                        </div>
                    </div>
                </div>
                <!--END HEADER RIGHT-->

            </div>
        </div>
    </div>
    <!--/ End Middle Bar -->
</header>
<!--/ End Header -->