
<div class="breadcrumbs_area mt-45">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="breadcrumb_content">
                  <ul>
                      <li><a routerLink="/">home</a></li>
                      <li>Blogs</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Blogs Area -->
<section class="blogs-main archives section2">
    <div class="container">
        <div class="row bloglisting">
            <div class="col-lg-4 col-md-4 col-12"  *ngFor="let blogs of blogsData ">
                <div class="card blogitem">
                    <div class="card__img">
                      <div class="img__cover">
                        <img src="{{blogs?.blogImg}}"  [routerLink]="['/blogs/',blogs?.blogTitleLink]"  />
                      </div>
                    </div>
                    <small>{{blogs?.updatedAt | date}} </small>
                    <div class="card__text flow">
                        <h4><a [routerLink]="['/blogs/',blogs?.blogTitleLink]" >{{blogs?.blogTitle}}</a></h4>
                    </div>
                  </div>
            </div>
            <!-- <nav class="pagination-container">
                <div class="pagination">
                        <a class="pagination-newer" href="#">PREV</a>
                        <span class="pagination-inner">
                            <a href="#">1</a>
                            <a class="pagination-active" href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                        </span>
                        <a class="pagination-older" href="#">NEXT</a>
                </div>
            </nav> -->

        </div>
       	
    </div>
</section>
<!--/ End Blogs Area -->