* {
    color: black;
  }
  .container-pad {
    padding: 2em 0;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 4em;
  }
  .fbox-sb {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 8px;
}
.total-payable{
  background: #000000;
  padding: 14px;
  color: #fff;
  margin: 5px 0 13px 0;
}
.payment-option{
  display: inline-block;
  padding-left: 10px;
}
.total-payable div{
  color: #fff !important;
}
.total-payable small{
  color: #fff !important;
  cursor: pointer;
}
ul.dateTime li.active {
  color: #fff;
}
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
  }
  .grid2 .form-group label{
    width: 100%;
    font-weight: 500;
    color: #000;
  }
  .grid2 .form-group input{
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 5px 15px;
    height: 44px;
    border-radius: 3px;
  }
  .grid2 .form-group select{
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 5px 15px;
    height: 44px;
    border-radius: 3px;
  }
  .grid2 .form-group textarea{
    width: 100%;
    border: 1px solid #e6e6e6;
    padding: 5px 15px;
    height: 80px;
    border-radius: 3px;
  }
  .grid2 .form-group{
    margin-bottom: 0;
  }
  .grid2 .form-group .fbox.group-h input{
    width: auto;
    border: 1px solid #e6e6e6;
    height: auto;
    display: inline-block;
  }
  .address-type{
    font-size: 18px;
    font-weight: 700 !important;
  }
  .grid2 .form-group .fbox.group-h div{
    display: inline-block;
    padding-left: 6px;
  }
  .grid2 .form-group .fbox.group-h{
    padding-top: 10px;
  }
  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    padding: 0em;
  }
  .border-none{
    text-align: center;
    border:none;
  }
  .span2 {
    grid-column: span 2;
  }
  .active {
    background: #000000 !important;
  }
  .active h5{
    color: #fff !important;
  }
  .active small{
    color: #fff !important;
  }
  .active p{
    color: #fff !important;
  }
  .active span{
    color: #fff !important;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background: var(--white);
    border: 1px solid #000000;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .checkboxstyle input[type="checkbox"] {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    margin-right: 10px;
  }
  .checkboxstyle label{
    position: relative;
    top: -18px;
    left: 20px;
  }
  .change-product{
    border: 0;
    font-size: 13px;
    font-weight: 500;
    padding: 6px 15px;
    border-radius: 3px;
    background: #000000;
    color: #fff;
  }
  .justifySpaceBetween{
    display: flex;
    justify-content: space-between;
    margin-top:16px;
    margin-bottom:16px;
  }
  .justifySpaceBetween button:hover{
  background: #3E444A;
  }
  .lg1 {
    font-size: 20px;
    background: #000000;
    color: #fff;
    padding: 10px 15px;
    margin-bottom: 15px;
  }
  
  label {
    color: var(--dark);
  }
  
  .removeBtn {
    background: none;
    border: 1px solid #000000;
    font-size: 15px;
    font-weight: 500;
    padding: 4px 15px;
    border-radius: 3px;
    color: #000000;
    cursor: pointer;
  }
  .contentGrid .center img{
    margin-bottom: 10px;
  }
  .blankslate3 {
    width: 100%;
    background: #e0e0e0;
    padding: 0;
    text-align: center;
    grid-column: span 2;
    cursor: pointer;
  }
  .blankslate3 p{
    font-weight: 600;
    padding: 14px;
  }
  .blankslate3 p:hover{
    background: #000000;
    color: #fff;
  }
  
  .saveButton {
    color: var(--white);
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    background: #000000;
    border: 0;
    font-weight: 500;
  }
  .fbox-fe.save-continue {
    padding-top: 15px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.fbox-fe button:hover{
  background: #3E444A;
  color: #ffff;
  border: 0;
}
  .item-list{
    padding: 9px;
    color: #000;
  }
  .active .item-list{
    padding: 9px;
    color: #fff;
  }
  .active .item-list div{
    color: #fff;
  }
  .circle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #dd1567  !important;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    float: left;
    margin-right: 10px;
  }
  .circle:hover{
    background-color: #3E444A !important;
  }
  .fbox.group-h {
    width: 100%;
  } 
  .card header {
    font-weight: initial;
    font-size: 1.2em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 8px;
  }
  .card .content{
    background:hsl(0, 0%, 94%);
    padding: 15px;
  }
  .delete-address {
      cursor: pointer;
    display: inline;
  }
  .edit-address {
    display: inline-block;
    cursor: pointer;
  }
  .productImage {
    width: 100px;
    height: auto;
  }
  .edit-address svg{
    width: 20px;
  }
  .delete-address svg{
    width: 20px;
    margin-left: 10px;
  }
  .customizeHR {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 0.5px solid #d7d7d7 !important;
    height: 0px;
  }
  
  .contentGrid {
    display: grid;
    padding: 1em 0;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2em;
    justify-content: center;
    align-items: center;
    border-bottom: 0.3px solid #cccccc;
  }
  .contentGrid .circle{
    width: 25px;
    height: 25px;
    border-radius: 100%;
  }
  .contentGrid .value{
    float: left;
    padding-right: 10px;
  }
  .contentGrid .circle div{
    color: #fff;
  }
  .blankslate2 {
    height: 200px;
    border: 1px solid var(--grey);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
  }
  
  ul {
    max-height: 130px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  ul li {
    border: 1px dotted var(--grey);
    padding: 1em;
    cursor: pointer;
    border: 1px solid #f5f5f5;
  }
  
  ul li:hover {
    background: var(--grey);
  }
  .coupon_inner {
    padding: 10px 1px 10px;
}
  .promoActive {
    background: var(--primary-light);
  }
  .default{
    background: #000000;
    font-size:15px!important;
    font-weight: 500;
    color:#ffffff;
  }
  .address123{
    color: #fff;
    font-weight: 500;
    font-size: 15px;
  }
  .address-type{
    color: #fff;
    font-weight: 500 !important;
    font-size: 15px;
  }
  .notDefault{
    background-color: #dedede;
    font-size:16px!important;
  }
  .liDisabled{
    pointer-events: none;
  
  }
  
  @media (min-width: 1025px) and (max-width: 1200px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
    .grid {
      grid-template-columns: 1fr;
    }
    .contentGrid {
      grid-template-columns: 1fr ;
    }
    .fbox-fe {
      justify-content: flex-start;
    }
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .grid {
      grid-template-columns: 1fr;
    }
    .contentGrid {
      grid-template-columns: 1fr;
      align-items: center;
    }
    .fbox-fe {
      justify-content: flex-start;
    }
    .fbox-c{
      justify-content: center;
    }
    .coupon_inner startbutton {
      margin-left:1px
    }
    .coupon_inner {
      padding: 1px 1px;
  }
  .coupon_inner_button {
    flex-direction: row;
}
  .coupon_inner input {
    margin-bottom: 10px;
  }
}
  .dateTime{
      list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-bottom: 13px;
  }
  .dateTime li{
    border: 1px solid #ccc;
    text-align: center;
  }
  .timing-set li.active{
    color: #fff;
  }
  .timeDisabled{
    cursor: not-allowed;
    pointer-events: none;
    background: #e8e8e8;
    color: #ababab;
  }
  

  .coupon_inner input {
    border: 1px solid #000;
    height: 42px;
    background: none;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    color: #000;
}

.coupon_inner_button button {
  background: #dd1567;
  border: 0;
  width: 49%;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  height: 38px;
  line-height: 18px;
 
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
}
