<div class="breadcrumbs_area mt-45">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a routerLink="/">home</a></li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="bodycontent">
                <h1>Privacy Policy Toq</h1>
                <p>THANKS for visiting “Toq”; we praise you for showing your trust upon us. Our privacy policy
                    will describe you the way we’ll use, store or share your data. Please make sure to read these
                    Privacy Policies before you process to exploit our platform.</p>
                <p>Please note that Toq On holds complete rights to change the policy any time without any notice.
                    By continuing to use this app, you share your consent to our policies meant for the usage of our
                    platform. And if in case you do not want to agree to any of these, you can stop accessing our app or
                    site. </p>

                <h2>1. Storing your information </h2>
                <p>When you proceed to use our platform, you will be asked to share your information from time to time
                    that we will collect or store for some purposes over the app. If you simply want to browse the app,
                    you can do that without sharing your information. And once you share you are not anonymous. We might
                    often trace your browsing behavior and your preferences to serve you better on our platform. The
                    information can include your name, address, phone number, email id, card details, and other related
                    details. </p>

                <h2>2. Use of User data</h2>
                <p>We will utilize your personal information shared by you to offer the products and services you ask
                    for. We might use your personal information for the following few purposes -</p>

                <ol>
                    <li>Sort out queries;</li>
                    <li>Resolve problems; </li>
                    <li>Help endorse a harmless service; </li>
                    <li>Accumulate money; </li>
                    <li>Determine users’ interest in products and services we offer;</li>
                    <li>Notify you of new offers, </li>
                    <li>New products, services, or updates introduced; </li>
                    <li>Personalise your app experience; </li>
                    <li>Identify and safeguard us against blunder, scam, and other illicit activity; </li>
                    <li>Enforce our terms and conditions; and as otherwise described to you at the time of collection.
                    </li>
                </ol>

                <h2>3. Advertisements </h2>
                <p>You might encounter some third party advertisements while you are using our app. These companies may
                    exploit user information (excluding your name, address, or contact details) when you visit, to
                    provide ads on goods and services that might be of interest to you.</p>
                <p>Information relating to you collected by App will be managed by the platform’s policies, which are
                    not under managed by us. We will collect information about you whenever you exploit our App and this
                    Privacy Policy will administer such Information.</p>
            </div>
        </div>
    </div>
</section>