<div class="breadcrumbs_area mt-45">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a routerLink="/">home</a></li>
                        <li style="margin-left: 10px;">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="bodycontent">
                <h1>About us</h1>
                <p innerHTML="{{allContentDetails?.aboutDetails}}"></p>
            </div>
        </div>
    </div>
</section>