<div class="breadcrumbs_area mt-45">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a routerLink="/">home</a></li>
                        <li>shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="shop_area shop_reverse mt-45 mb-50">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3 col-md-12">
           
                <!-- {{filterCity}} -->
                <aside class="sidebar_widget">
                    <div class="widget_list widget_categories">
                        <h3>Product categories</h3>
                        <ul>
                            <li *ngFor="let category of categories; let i = index;">
                                <a
                                    (click)="getProductByCategoryId(category.categoryId, i)">{{category?.categoryName}}</a>
                                <span class="dropIndex" *ngIf="selectedIndex != i" (click)="checkSelectedIndex(i)"><i
                                        class="ion-android-arrow-dropright" style="font-size: 20px;"></i></span>
                                <span class="dropIndex" *ngIf="selectedIndex == i" (click)="checkSelectedIndex(-1)"><i
                                        class="ion-android-arrow-dropdown" style="font-size: 20px;"></i></span>
                                <ul *ngIf="selectedIndex == i">
                                    <li *ngFor="let subCategory of category.subCategory" ><a *ngIf="subCategory.status==='ACTIVE'" (click)="getProductByCategoryId(subCategory.subCategoryId, i)">{{subCategory?.subCategoryName}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="widget_list widget_filter">
                        <h3>Sort By</h3>
                        <ul>
                            <li><a (click)="sort('offerPrice',false)">Low to High</a></li>
                            <li><a (click)="sort('offerPrice',true)">High to Low</a></li>
                            <li><a (click)="sort('createdAt',true)">Newest First</a></li>
                        </ul>
                        
                    </div>
                    <div class="widget_list widget_filter">
                        <h3>Filter by price</h3>
                        <form action="#">
                            <div>
                                <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options">
                                </ngx-slider>
                            </div>
                        </form>
                    </div>
                  
                </aside>
            </div>
            <div class="col-lg-9 col-md-12">
                <div class="product-grid">
                    <ng-container *ngFor="let product of products | filter: stock:minPrice:maxPrice | sorting: sortingElement: sortingType | paginate:{ itemsPerPage: 12, currentPage: currentPageNumber }; trackBy:trackByProductId">
                        
                        <div class="product-grid-item"  *ngIf="product.stock!==0">
                    
                        <article class="single_product" >
                            <figure>
                                <div class="product_thumb">
                                    <a class="primary_img" [routerLink]="['/product-details',product.productId]" [queryParams]="{ variantId: product.variantId}">
                                        <div class="itemimgdiv">
                                            <img src="{{product?.variantImg[0]}}" alt="" class="itemsimg">
                                        </div>
                                    </a>
                                    <div class="quick_button">
                                        <a (click)="addToCart(product)" title=" Add to Cart"> Add to Cart</a>
                                    </div>
                                </div>
                                <div class="product_content">
                                    <div class="product_name">
                                        <h4>
                                            <a
                                                [routerLink]="['/product-details',product.productId]" [queryParams]="{ variantId: product.variantId}">{{product?.productName}}</a>
                                        </h4>
                                    </div>
                                    <div class="price_box">
                                        <span class="current_price">₹{{product?.displayOfferPrice}}</span>&nbsp;
                                        <span class="old_price">₹{{product?.price}}</span>&nbsp;
                                        <span  style="font-size: 14px;" >{{getDiscount(product?.displayOfferPrice,product?.price)}}</span> % Off
                                        <span class="pcs" *ngIf="(product?.pcs >= 1)">({{product?.pcs}} Pcs)</span>
                                    </div>
                                </div>
                            </figure>
                        </article>
                    </div>
                </ng-container>
                </div>
                <!-- <div class="row shop_wrapper">
                    <div class="col-lg-4 col-md-4 col-12 "
                        >
                        
                    </div>
                </div> -->
                <div class="shop_toolbar t_bottom">
                    <pagination-controls (pageChange)="currentPageNumber = $event" maxSize="5" previousLabel="Prev"
                        responsive="true" nextLabel="Next"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>