.itemimgdiv
{
    height: 200px;
    width: 100%;
    overflow: hidden;
    background: #f9f9f9 !important;
}
.itemimgdiv img.itemsimg
{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: auto;
    margin: 0;
}
.single_product {
    padding: 18px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    background: #ffffff;
    max-width: 350px;
    height: 280px;
}
