<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="bodycontent">
                <h1>About us</h1>
                <p>On Sell On serves as one of the largest hubs of apparels and home collection items including furniture, home decor, kitchenware, and a lot more. We brings at your service best quality products and customer service. At our stoppage, you
                    can get an easy access to a large variety of fashion apparels and the house essentials that can enhance the look & feel of your sweet home plus upgrade the quality of your lifestyle. </p>
                <p>The best thing about this online store is that you can get everything at one destination and you don't have to look for every single item in different brick-and-mortar stores. When you buy from us, you will never feel tired and you can
                    check out a big collection of products available at rates that might not be sometimes cheap but are never going to be unreasonable. We will never ask you to pay anything that our product do not deserves.</p>

                <ol>
                    <li>Check out different range of products available at variety of prices that will make you go crazy for buying.</li>
                    <li>Easy to filter products that fall under your budget.</li>
                    <li>We ensure safe packaging of your products so that your order is delivered safely at your end.
                    </li>
                    <li>Products listed on our store are all curated by the craftsmen and artisans with all of their efforts and hearts.</li>
                    <li>The registered users of our platform will surely get some amazing benefits and rewards from time to time. </li>
                </ol>

                <h2>What makes us suitable online seller?</h2>
                <ol>
                    <li>Quality - We are devoted to deliver quality products best in class, and trends.</li>
                    <li>Customer & Community - Customer satisfaction is our sole priority, which forms bases of our services and consider delivering even more than you expect.</li>
                    <li>Integrity - Integrity and sincerity keeps us progressing on our path, making us sustain if we have achieved our grounds.</li>
                    <li>Teamwork - Teamwork is the foundation of what we have attained so far in our journey.</li>
                </ol>

                <h2>What this app has to offer you?</h2>
                <ol>
                    <li><b>Easy Registration</b> - This app allow you to register yourself as a user of this without exerting much efforts. The hassle free process can help you be a user registered with us in just few minutes. </li>
                    <li><b>Filter products</b> - Using the advanced search, you can find the products with the filters like price, color, material and many others. It will help you to quickly find what you are looking for. </li>
                    <li><b>Multi-payment mode</b> - In order to buy products at our store, you can pay the billing amount using any of the different payment methods available. This will help you to have a smooth shopping experience. </li>
                    <li><b>Easy Checkout</b> - Once you have added the products you want to buy to your cart, it’s time to checkout the whole process. This is made amazingly simplified by this app. So don't worry, you are going to have a happy buying experience.
                        </li>
                    <li><b>Easy to track</b> - Now when you have placed your order, you might be curious to know about when you can receive it. It is easy to track your order with this app. </li>
                    <li><b>Review products</b> -If you like the product you have bought from here, and you want to express your gratitude to the seller, you can do this by sharing your review against the product.
                    </li>
                    <li><b>Rewards & discounts</b> - The app will frequently notify you of the rewards, discounts, and exclusive deals that they will introduce to keep up your interest. </li>
                </ol>
            </div>
        </div>
    </div>
</section>