<div class="breadcrumbs_area mt-45">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Shopping Cart</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shopping_cart_area mt-45">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-12">
                    <div class="table_desc">
                        <div class="cart_page table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product_remove">Delete</th>
                                        <th class="product_thumb">Image</th>
                                        <th class="product_name">Product</th>
                                        <th class="product-price">Price</th>
                                        <th class="product_quantity">Quantity</th>
                                        <th class="product_total">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let cart of carts">
                                        <td class="product_remove"><a href="javascript:void(0)"
                                                (click)="removeFromCart(cart._id)"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                        <td class="product_thumb"><a
                                                [routerLink]="['/product-details',cart.variantSlug]"><img
                                                    src="{{cart?.variantImg[0]}}" alt=""></a></td>
                                        <td class="product_name">
                                            <a [routerLink]="['/product-details',cart.variantSlug]">
                                                <strong>{{cart?.productName}}</strong>
                                                <p>{{cart?.brand}}</p>
                                            </a>
                                        </td>
                                        <td class="product-price">₹{{cart?.offerPrice}}</td>
                                        <td class="product_quantity">
                                           <span class="increase_class" (click)="increaseDecreaseQuantity(cart,-1,cart.selectQuantity)">-</span> {{cart?.selectQuantity}} <span (click)="increaseDecreaseQuantity(cart,1,cart.selectQuantity)" class="increase_class">+</span>
                                        </td>
                                        <td class="product_total">₹{{cart?.totalDiscountedPrice.toFixed(2)}}</td>
                                    </tr>
                                    <tr  *ngFor="let cart of lastSavedCart">
                                        <td class="product_remove"><a href="javascript:void(0)"
                                                (click)="removeFromCartLocal(cart.variantId)"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                        <td class="product_thumb"><a
                                                [routerLink]="['/product-details',cart.variantSlug]"><img
                                                    src="{{cart?.variantImg[0]}}" alt=""></a></td>
                                        <td class="product_name">
                                            <a [routerLink]="['/product-details',cart.variantSlug]">
                                                <strong>{{cart?.productName}}</strong>
                                                <p>{{cart?.brand}}</p>
                                            </a>
                                        </td>
                                        <td class="product-price">₹{{cart?.offerPrice.toFixed(2)}}</td>
                                        <td class="product_quantity">
                                           <span class="increase_class" (click)="increaseDecreaseQuantity(cart,-1,cart.selectQuantity)">-</span> {{cart?.selectQuantity}} <span (click)="increaseDecreaseQuantity(cart,1,cart.selectQuantity)" class="increase_class">+</span>
                                        </td>
                                        <td class="product_total">₹{{cart?.totalDiscountedPrice.toFixed(2)}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="cart_submit" *ngIf="carts.length ==0 && lastSavedCart.length ==0">
                            <p class="text-center">No Cart Product Found.</p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!--coupon code area start-->
            <div class="coupon_area">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <!-- <div class="coupon_code left">
                            <h3>Coupon</h3>
                            <div class="coupon_inner">
                                <p>
                                    Enter your coupon code if you have one.
                                    <a class="btn btn-link" style="display: inline; border-bottom: 0;" role="button"
                                        (click)="showCouponModal()">See All</a>
                                </p>
                                <input placeholder="Coupon code" name="discountName" [(ngModel)]="discountName"
                                    type="text">
                                <button type="submit" (click)="applyPromocode()">Apply coupon</button>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="coupon_code right">
                            <h3>Cart Totals</h3>
                            <div class="coupon_inner">
                                <div class="cart_subtotal">
                                    <p>Subtotal</p>
                                    <p class="cart_amount">₹{{ cartSum?.toFixed(2) }}</p>
                                </div>
                                <div class="cart_subtotal" *ngIf="appliedPromocode && appliedPromocode.discountName">
                                    <p>Promo Discount</p>
                                    <p class="cart_amount">
                                        <small>({{appliedPromocode?.discountName}})</small>
                                        -₹{{ totalDiscount?.toFixed(2) }}
                                    </p>
                                </div>
                                <div class="cart_subtotal">
                                    <p>Shipping</p>
                                    <p class="cart_amount">
                                        +₹{{ deliveryCharges?.toFixed(2) }}
                                    </p>
                                </div>
                                <div *ngIf="Cgst>0"  class="cart_subtotal">
                                    <p>CGST</p>
                                    <p class="cart_amount">
                                        ₹{{ Cgst.toFixed(2) }}
                                    </p>
                                </div>
                                
                                <div *ngIf="Igst>0" class="cart_subtotal">
                                    <p>IGST</p>
                                    <p class="cart_amount">
                                        ₹{{ Igst.toFixed(2)}}
                                    </p>
                                </div>
                                <a href="javascript:void(0)" *ngIf="appliedPromocode && appliedPromocode.discountName"
                                    (click)="removePromocode()">Remove Promocode to apply another</a>

                                <div class="cart_subtotal">
                                    <p>Total</p>
                                    <p class="cart_amount">₹{{ total?.toFixed(2) }}</p>
                                </div>
                                <div class="checkout_btn">
                                    <a [routerLink]="['/userprofile/checkout']" routerLinkActive="router-link-active">Proceed to
                                        Checkout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--coupon code area end-->
        </form>
    </div>
</div>
