<div class="breadcrumbs_area mt-45">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a routerLink="/">home</a></li>
                        <li>Forgot Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="customer_login mt-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 offset-3">
                <div class="account_form login">
                    <h2>Forgot Password</h2>
                    <form [formGroup]="forgotpasswordFormGroup" *ngIf="step === 1">
                       
                        <p>
                            <label>Mobile Number<span>*</span></label>&nbsp;
                            <input type="number" formControlName="mobileNo"  placeholder="Please Enter Mobile Number">
                        </p>
                        <div class="login_submit">
                            <button type="submit" [disabled]="!forgotpasswordFormGroup.valid" (click)="sendOtp()">Send Otp</button>
                        </div>
                    </form>
                    <form [formGroup]="verifyFormGroup" *ngIf="step === 2">
                       
                        <p>
                            <label>Mobile Number<span>*</span></label>&nbsp;
                            <input type="number" formControlName="mobileNo"  placeholder="Please Enter Mobile Number">
                        </p>
                        <p>
                            <label>OTP<span>*</span></label>&nbsp;
                            <input type="number" formControlName="otp"  placeholder="Please Enter otp">
                        </p>
                        <p>
                            <label>New Password<span>*</span></label>&nbsp;
                            <input type="password" formControlName="newPassword"  placeholder="Please Enter Password">
                        </p>
                        <p>
                            <label>Confirm Password<span>*</span></label>&nbsp;
                            <input type="password" formControlName="confirmPassword"  placeholder="Please Enter Password">
                        </p>
                        <div class="login_submit">
                            <button type="submit" [disabled]="!verifyFormGroup.valid" (click)="setnewPassword()">set new Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>