<div class="breadcrumbs_area mt-45">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>Wishlist</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shopping_cart_area" style="margin-bottom: 20px;">
    <div class="container">
        <ng-container *ngIf="products.length !== 0;">
            <div class="grid">
                <ng-container *ngFor="let p of products">
                    <div class="card ">
                        <div class="content center">
                            <div>
                                <div class="osimg">
                                <img [src]="p.variantImg ? p.variantImg[0] : ''" class="imgs"
                                    routerLink="/product-details/{{ p.variantSlug }}"
                                     />
                                </div>
                                <div class="product-name pointer" routerLink="/product-details/{{ p.variantSlug }}"
                                   >{{ p.productName }}</div>
                                <!-- <div>{{ p.variantName }}</div> -->
                                <div class="fbox-c group-h" style="display: none;">
                                    <div>MRP</div>
                                    <s>Rs.{{ p.price?.toFixed(2) }}</s>
                                    <div class="text-success">
                                        {{ p.discountNumber || 0 }}
                                        {{p.discountIn?.toLowerCase() === "percentage" ? "% OFF": "RS"}}
                                    </div>
                                </div>
                                <div class="text-error">
                                    <!-- Rs.{{ p.offerPrice?.toFixed(2) || 0 }} -->
                                    <span class="current_price">₹{{p?.offerPrice.toFixed(2) || 0}}</span>&nbsp;
                                    <span class="old_price" style="color: gray;   text-decoration: line-through;" >₹{{p?.price.toFixed(2) || 0}}</span>&nbsp;
                                    <span  style="font-size: 14px; color: gray" >{{getDiscount(p?.offerPrice,p?.price)}}%Off </span>
                                </div>
                                <div class="group-h fbox-c m-t align-items: center;" >
                                    <button class="block remove"  (click)="removeFromWishList(p._id)">
                                        Remove
                                    </button>
                                    <button class="block move-cart" (click)="moveToCart(p)">
                                        Move to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <div class="blankslate3 center" style="text-align: center; margin-bottom: 50px;"  *ngIf="products.length == 0">
            No Items In Your Wish List
        </div>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
<ng-template #noData>
   
</ng-template>