<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-xs-12">
            <div class="bodycontent">
                <h1>FAQs On Sell On</h1>

                <h4>1. I was not able to receive my order today. What to do now? </h4>
                <p>If you were not available at the time of delivery and the product is not yet delivered, you will
                    receive the message, notification, or call from the side of delivery personnel or customer support.
                    It will inform you of the next date of delivery.
                </p>
                <br>
                <h4>2. My order is not delivered yet. What should I do? </h4>
                <p>The delivery of the order is delayed only in rare circumstances and if it happens, you will be
                    notified through email or message. This notification will have information on the new timeframe and
                    delivery day and you can even track the status.
                </p>
                <br>
                <h4>3. How soon will I get my order delivered? </h4>
                <p>The order will get delivered on the date that is mentioned when you enter the pin code or address to
                    check. Basically, it is delivered within 3-5 business days, depending on the location and situation.
                </p>
                <br>
                <h4>4. My order shows that the product has been delivered, but I am unable to find it. What to do? </h4>
                <p>If your tracking status is showing your order as delivered, check for any message or email
                    notification sent to you for the same. You can wait for the end of the day sometimes it happens if
                    the order is out for the delivery it shows delivered. Else, you can contact our customer support.
                </p>
                <br>
                <h4>5. Can I buy with cash on delivery of every product from you? </h4>
                <p>The cash-on-delivery option depends on several factors like availability, area code, seller request,
                    and many more. You can check if the CoD option is available by entering your pin code.
                </p>
                <br>
                <h4>6. Why you are saving my card info? </h4>
                <p>It can help you avoid any kind of hassle that you might face and waste your time every time entering.
                    If your card is selected you can make payment faster by simply selecting the card saved on checkout.
                    It is completely secured along with being faster.
                </p>
                <br>
                <h4>7. If I ask for a replacement when will I receive it? </h4>
                <p>If you want to check the duration for when will you receive your replaced package, you can track the
                    status in Orders. Many times, it happens that the replacement item is delivered to you right at the
                    time of pick-up. Whereas it may also happen that the replacement is initiated after the previously
                    delivered item is picked up. Ensure to check the SMS & email for your replacement request details.
                </p>
                <br>
                <h4>8. How will I get a refund on an item I bought with cash on delivery? </h4>
                <p> Refund for the item you have ordered with the Cash on Delivery payment mode will be sent to your bank
                    account through NEFT. It is requested to update your bank details to receive the payment.
                </p>
            </div>
        </div>
    </div>
</section>