<div class="breadcrumbs_area mt-45">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a routerLink="/">home</a></li>
                        <li>My account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="customer_login mt-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 offset-3">
                <div class="account_form login">
                    <h2>Otp Verify</h2>
                    <form [formGroup]="otpForm" (ngSubmit)="otpVerify()">
                        <p>
                            <label>OTP <span>*</span></label>
                            <input type="number" formControlName="otp" placeholder="Enter Otp Here">
                        </p>
                        <div class="login_submit">
                            <a (click)="login()">Resend OTP</a>
                            <button type="submit" [disabled]="!otpForm.valid">submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>