<div class="breadcrumbs_area mt-45">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a routerLink="/">home</a></li>
                        <li>My account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="customer_login mt-45">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 offset-3">
                <div class="account_form login">
                    <h2>Register</h2>
                    <form [formGroup]="registerFormGroup">
                        <p>
                            <label>User Name <span>*</span></label>
                            <input type="text" formControlName="userName"  placeholder="Please Enter User Name">
                        </p>
                        <p>
                            <label>Full Name <span>*</span></label>
                            <input type="text" formControlName="fullName"  placeholder="Please Enter Full Name">
                        </p>
                        <p>
                            <label>User Email Id <span>*</span></label>
                            <input type="email" formControlName="userEmailId"  placeholder="Please Enter User Email Id">
                        </p>
                        <p>
                            <label>Mobile Number<span>*</span></label>&nbsp;
                            <span class="setFornt">(Please check and enter)</span>
                            <input type="number" formControlName="mobileNo"  placeholder="Please Enter Mobile Number">
                        </p>
                        <p>
                            <label>Password<span>*</span></label>&nbsp;
                            <span class="setFornt">(Please check and enter)</span>
                            <input type="password" formControlName="password"  placeholder="Please Enter Password">
                        </p>
                        <div class="login_submit">
                            <button type="submit" [disabled]="!registerFormGroup.valid" (click)="register()">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>